@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .App {
    width: 100%;
  }
}

body {
  background-color: burlywood;
  max-width: 1000px;
  margin-left: 400px;
  justify-content: center;
  overflow: auto;
  margin: auto;
}

#cafe-name {
  font-family: Luminari;
}

h2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.nav-bar {
  width: 100%;
  max-width: 1000px;
  font-family: Luminari;
  position: fixed; 
  top: 5px;
  background-color: #ffffff;
  opacity: 0.8;
  text-align: right;
  z-index: 1;
}

.nav-bar:hover {
  opacity: 1;
  transition: 0.75s;
}

.nav-link {
  text-decoration: none;
  color: black;
  border: solid 2px grey;
  padding: 5px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 8px;
  overflow: auto;
}

.nav-link:hover {
  color: burlywood;
  background-color: black;
  transition: 0.75s;
  border: solid 2px burlywood;
}

.container {
  position: absolute;
  color: black;
  margin-top: 65px;
  max-width: 1000px;
}

.title{
  position: absolute; 
  bottom: 8px;
  top: 8px;
  opacity: 0.8;
  max-height: 135px;
  width: 300px;
  background-color: #ffffff;
  padding: 0.5em;
  margin-left: 3em;
  margin-top: 3em;
  border-radius: 40px;
  text-align: center;
} 

.about p {
  font-family: Luminari;
  overflow: auto;
  font-size: 18px;
}

#about-welcome {
  text-align: center;
  font-family: Luminari;
  font-size: 35px;
}

.about {
  background-color: #ffffff;
  opacity: 0.7;
  padding: 10px;
  padding-left: 17px;
  margin-top: 10px;
  overflow: auto;
}

#menu, #products, #meet_our_adoptable_cats, #local_rescues {
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

hr {
  height: 3px;
  background-color: black;
  border: black;
  max-width: 50%;
  margin-bottom: 2rem;
}

.about p {
  margin-left: 30px;
  margin-right: 30px;
}

footer {
  position: bottom;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  max-height: 150px;
  color: #ffffff;
  background-color: black;
  font-family: inherit;
  margin-top: 1em;
  padding: 0.25em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* overflow: auto; */
  gap: 1em;
  padding-top: 1em;
  margin: 1em;
}

.grid-item {
  align-items: center;
  text-align: center;
  padding: 2em;
  background-color: bisque;
  border: solid 1px rgb(72, 35, 35);
}

.menu p, .products p {
  font-size: 18px;
  text-align: center;
  font-family: Luminari;
}

.coffee {
  position: relative;
  max-width: 1000px;
  align-items: center;
}

.items {
  position: absolute;
  background: #ffffff;
  opacity: 0.9;
  color: black;
  height: 500px;
  width: 450px;
  padding: 0.5em;
  border-radius: 25px;
  top: 40px;
  bottom: 20px;
  left: 2.5em;
  font-family: Luminari;
  align-items: center;
}

#menu-whole {
  align-items: right;
  padding-left: 22.5%;
}

#coffee-maker {
  text-align: center;
  font-size: 12px;
}

h4 {
  font-size: 20px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  gap: 3em;
  padding-top: 1em;
  padding-left: 1em;
}

.grid-item2 {
  align-items: center;
  text-align: center;
  padding: 2em;
}

.grid-item:hover {
  box-shadow: 10px 10px 40px rgb(255, 235, 211);
}
